.aboutMe {
    background: white;
    background-attachment: fixed;
    background-position: center center;
}

.aboutMe .wrapper {
    // min-height: 60vh;
    @include flexRow;
    // margin-top: 500px;
    // margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    .aboutMe__image {
        flex-basis: 50%;
        @include flexCol;
        align-items: center;
        
    }
    .aboutMe__bio {
        flex-basis: 50%;
        p {
            font-size: 15px;
        }
    }
}
.aboutMe__image img {
    height: 250px;
    width: 250px;
    border: 3px solid $accent;
    border-radius: 50%;
    box-shadow: 1px 1px 3px grey;
}

.break {
    align-self: center;
}

@media (max-width: 900px) {
    .aboutMe .wrapper {
        flex-direction: column;
        .aboutMe__image {
            padding-top: 100px;
            flex-basis: 100%;
        }
        .aboutMe__bio {
            margin-bottom: 50px;
            flex-basis: 100%;
        }
    }
}

@media (max-width: 335px) {
    .aboutMe .wrapper {
        .aboutMe__image img {
            height: 200px;
            width: 200px;
        }
    }
}