footer {
    background: #121b33;
    color: $tertiary;
    // border-top: 1px solid $tertiary;
    .wrapper {
        min-height: 8vh;
        @include flexCol;
        justify-content: center;
        align-items: center;
        span {
            margin-right: 3px;
        }
        p {
            font-size: 12px;
            margin: 5px 0;
            font-weight: 300;
        }
    }
} 

.footer__content {
    @include flexRow;
    p {
        padding: 0 20px;
        color: white;
    }
}

@media (max-width: 515px) {
    .footer__content {
        flex-direction: column;
    }
}

